.header {
    justify-content: space-between;
    border: 1px solid black;

    .header-menu {
        width: 50%;
        justify-content: space-around;


        .menu-text {
            
        }
    }
}